<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dargon.Ryu.Api" version="0.0.1" targetFramework="net452" userInstalled="true" />
  <package id="Dargon.Utilities" version="0.1.2" targetFramework="net452" userInstalled="true" />
  <package id="ItzWarty.Commons" version="0.4.0" targetFramework="net452" userInstalled="true" />
  <package id="MouseKeyHook" version="5.3.0" targetFramework="net452" userInstalled="true" />
</packages>